@font-face {
  font-family: "Golos";
  src: url("Golos%20Text_Black.eot");
  src: url("Golos%20Text_Black.eot?#iefix") format("embedded-opentype"), url("Golos%20Text_Black.woff2") format("woff2"),
    url("Golos%20Text_Black.woff") format("woff"), url("Golos%20Text_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("Golos%20Text_Bold.eot");
  src: url("Golos%20Text_Bold.eot?#iefix") format("embedded-opentype"), url("Golos%20Text_Bold.woff2") format("woff2"),
    url("Golos%20Text_Bold.woff") format("woff"), url("Golos%20Text_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("Golos%20Text_DemiBold.eot");
  src: url("Golos%20Text_DemiBold.eot?#iefix") format("embedded-opentype"),
    url("Golos%20Text_DemiBold.woff2") format("woff2"), url("Golos%20Text_DemiBold.woff") format("woff"),
    url("Golos%20Text_DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("Golos%20Text_Medium.eot");
  src: url("Golos%20Text_Medium.eot?#iefix") format("embedded-opentype"),
    url("Golos%20Text_Medium.woff2") format("woff2"), url("Golos%20Text_Medium.woff") format("woff"),
    url("Golos%20Text_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Goloss";
  src: url("Golos%20Text_Regular.eot");
  src: url("Golos%20Text_Regular.eot?#iefix") format("embedded-opentype"),
    url("Golos%20Text_Regular.woff2") format("woff2"), url("Golos%20Text_Regular.woff") format("woff"),
    url("Golos%20Text_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Golos VF";
  src: url("Golos%20Text_VF.eot");
  src: url("Golos%20Text_VF.eot?#iefix") format("embedded-opentype"), url("Golos%20Text_VF.woff2") format("woff2"),
    url("Golos%20Text_VF.woff") format("woff"), url("Golos%20Text_VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("SFUIText-Regular.eot");
  src: url("SFUIText-Regular.eot") format("embedded-opentype"), url("SFUIText-Regular.woff") format("woff"),
    url("SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("SFUIText-Regular.eot");
  src: url("SFUIText-Regular.eot") format("embedded-opentype"), url("SFUIText-Regular.woff") format("woff"),
    url("SFUIText-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("SFUIText-Semibold.eot");
  src: url("SFUIText-Semibold.eot") format("embedded-opentype"), url("SFUIText-Semibold.woff") format("woff"),
    url("SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("SFUIDisplay-Regular.eot");
  src: url("SFUIDisplay-Regular.eot") format("embedded-opentype"), url("SFUIDisplay-Regular.woff") format("woff"),
    url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("SFUIDisplay-Medium.eot");
  src: url("SFUIDisplay-Medium.eot") format("embedded-opentype"), url("SFUIDisplay-Medium.woff") format("woff"),
    url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("SFUIDisplay-Semibold.eot");
  src: url("SFUIDisplay-Semibold.eot") format("embedded-opentype"), url("SFUIDisplay-Semibold.woff") format("woff"),
    url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("SFUIDisplay-Bold.eot");
  src: url("SFUIDisplay-Bold.eot") format("embedded-opentype"), url("SFUIDisplay-Bold.woff") format("woff"),
    url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
