.header {
  background-color: #fff;
  border-bottom: 1px solid #e5eaf0;
}

.header__container {
  padding: 15px 40px 15px 51px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  margin: 0 13px;
  font-family: "Golos";
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: -0.2px;
  color: #262d39;
}

.header__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__form {
  margin-right: 44px;
}

.header__search {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 18px 16px 67px;
  width: 459px;
  height: 60px;

  background-color: #f6f7fb;
  border-radius: 16px;
  border: none;

  background-image: url("../../img/icon-search.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: left 26px top 19px;

  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  /* Gray / 73 */
  color: #737f8b;
}

.header__search:focus {
  outline: none;
}

.header__icon {
  margin-right: 24px;
}

.header__notification {
  margin-right: 51px;
}

.header__avatar {
  position: relative;
  margin-left: 50px;
}

.header__avatar::before {
  position: absolute;
  top: 0px;
  left: -51px;
  content: "";
  width: 0px;
  height: 53px;
  border-left: 1px solid #e5eaf0; /* Gray / E5 */
}
